*{
    padding: 0px;
  margin: 0px;
}

header{
    padding: 40px 50px;
}
h1{
    color:rgb(97, 174, 233);
    
}
header{
    background-color: rgba(0, 0, 0, 0.8)
  
}
header li{
    display: inline;
    margin-right: 4vw;
    height: 50px;
    width: 100%;

}
header ul{
    
    position: absolute;
    top: 0px;
    right: 5vw;
    line-height: 120px;
}
header a{
    color: rgb(2, 255, 251);
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;

}
main{
    background-color: rgb(75, 185, 236);
}
main a1{
    background-repeat: no-repeat ;
    
    
}



